name: "Sync GHAS to Jira"

on:
  workflow_dispatch:

jobs:
  test_job:
    runs-on: ubuntu-latest
    steps:
      - name: Sync GHAS Alerts to Jira Issues
        uses: github/ghas-jira-integration@v1.2.3
        with:
          jira_url: 'https://githubtraining.atlassian.net'
          jira_user: '${{ secrets.JIRA_USER }}'
          jira_token: '${{ secrets.JIRA_TOKEN }}'
          jira_project: '${{ secrets.JIRA_PROJECT_KEY'
          github_token: '${{ secrets.PERSONAL_ACCESS_TOKEN }}'
          sync_direction: 'gh2jira'
